<%- include ('partials/header.ejs'); %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/alumno/update/<%= data.id_Alumno %>" method="POST">
          <div class="form-group">
            <input type="text" name="nombre" value="<%= data.nombre%>" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="number" name="colegiatura" value="<%= data.colegiatura%>" placeholder="Colegiatura" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="Estudio_Musica_id_estudio" value="<%= data.Estudio_Musica_id_estudio%>" placeholder="Estudio de Musica" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            save alumno
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs'); %>