<%- include ('partials/header.ejs'); %>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>id_Cliente</td>
              <td>nombre</td>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id_Cliente %></td>
                  <td><%= data[i].nombre %></td>
                  <td>
                    <a href="/clientes/update/<%= data[i].id_Cliente %>" class="btn btn-info">Edit</a>
                    <a href="/clientes/delete/<%= data[i].id_Cliente %>" class="btn btn-danger">Delete</a>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="col-md-5">
        <div class="card-body">
  
          <form action="/clientes/add" method="post">
            <div class="form-group">
                <input type="number" name="id_Cliente" placeholder="id" class="form-control" autofocus>
            <div class="form-group">
              <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
            </div>
  
            <button type="submit" class="btn btn-primary">
              Add estudio
            </button>
          </form>
        </div>
      </div>
      
      <div class="card-body">
        <form action="/" method="GET">
          <button type="submit" class="btn btn-danger">
            Return
          </button>
        </form>
      </div>
    </div>
  </div>

  

<%- include ('partials/footer.ejs'); %>